<% include header %>
<link rel="stylesheet" href="css.css">
</head>
<body style="background-color:rgba(41, 37, 37, 0.596); color: ghostwhite; height:630px;">
        <nav class="navbar"  style="width:1500px; margin-top:0px;">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar" style=" background-color: black;"></span>
                          <span class="icon-bar" style=" background-color: black;"></span>
                          <span class="icon-bar" style=" background-color: black;"></span>                      
                        </button>
                    <li><a href="#" class="navbar-brand" style=" color: black;">Prashanth</a> </li>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav"  >
                    <li class="active"><a href="/" style=" color: black;">Home</a></li>
                    <li ><a href="/calculation" style=" color: black;">GPA calculator</a></li>
                    <li ><a href="/contact" style=" color: black;">Contact</a></li>
                    <li> <a href="#" style=" color: black;">GuestBook</a> </li>
                        </ul>
                        </div>
            <!-- <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
           </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <strong>
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="html/calculation.html">Calculation <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                                <a class="nav-link" href="html/contact.html">About <span class="sr-only">(current)</span></a>
                        </li>
                    </ul> 
                </strong>               
            </div>         -->
        </nav>
       
<h2>
My Page
<a href="/new-entry" class="btn btn-primary pull-right">
Click here to go guestbook
</a>
</h2>

<div class="container-fluid" style="bottom: 30px;">
<h3>Click on the button to move around the guestBook</h3>
<h4>it might be interesting while you click </h4>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div style="color:black" class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry" style="color:black">Add one!</a>
<% } %>
</div>
<% include footer %>
