<% include header %>
</head>
<body style="background-color:rgba(41, 37, 37, 0.596); color: ghostwhite; height:630px;">
<h2>
    My Page
    <!-- <a href="/new-entry" class="btn btn-primary pull-right">
    Click here to go guestbook
    </a> -->
    </h2>
<h2>New entry</h2>
<form method="post" role="form">
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title"
  name="title" placeholder="Entry title" required></div>

<div class="form-group">
<label for="content">Entry text</label>
<textarea class="form-control" id="body" name="body"
placeholder="Express! one of the frameworks which you can excited with!"
rows="3" required></textarea></div>

<div class="form-group">
<input type="submit" value="Post entry" class="btn btn-primary"></div>
</form>
<% include footer %>
